<div class="measurmentsContainer">
    <div class="widthhh">
        <div class="center-noof-cuts">
            <p class="t-a-c">Energy History</p>
        </div>
            <div echarts [options]="chartOptionP" [theme]="theme"></div>
    </div>
    <div class="widthhh">
        <div class="center-noof-cuts">
            <p class="t-a-c"> Voltage History</p>
        </div>
        <div echarts [options]="chartOptionV" [theme]="theme"></div>
    </div>
    <div class="widthhh">
        <div class="center-noof-cuts">
            <p class="t-a-c"> Current History</p>
        </div>
        <div echarts [options]="chartOptionC" [theme]="theme"></div>
    </div>
</div>